body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0.1px;
    background-color: #340053;
    color: rgb(0, 0, 0);
    font-size: 10px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

#Incial {
    width: 25%;
    float: left;
    background-color: #5c0074;
    color: rgb(255, 255, 255);

}

#Experiências {
    width: 65%;
    float: right;
    background-color: #ffffff;


}

#Experiências,
#Incial {

    padding: 30px;
}

#pbh,
#reserva,
#virtus,
#dia,
#chromos {
    width: 50px;
    height: 50px;

}

#kaua {
    width: 130px;
    height: 130px;
    border-radius: 20%;
    border-color: #ffffff;
    
}

h3 {
    color: #340053;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#git {
    width: 350px;
}
h1, h2, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    
